/* body {
    margin: 0;
    
} */

nav {
    height: 4em;
    position: sticky;
    top: 0;
    line-height: 4em;
    background-origin: padding-box;
    /* text-align: center; */
    /* background-color: #f5f3f3; */
    /* color: blue; */
    /* font-family: sans-serif; */
    transition: transform 150ms ease-in-out;
}

nav.nav-bar--hidden {
    transform: translateY(-100%);
}

main {
    padding: 2em;
    font-family: sans-serif;
}
header{
    /* background-color: #f5f3f3 ; */
    transition: transform 150ms ease-in-out;
        height: 4em;
        position: sticky;
        top: 0;
        line-height: 4em;
}